[submodule "entrega-da-lista-2-joaovictorcs29"]
	path = entrega-da-lista-2-joaovictorcs29
	url = https://github.com/AulasUnisinos/entrega-da-lista-2-joaovictorcs29.git
[submodule "entrega-da-lista-3-joaovictorcs29"]
	path = entrega-da-lista-3-joaovictorcs29
	url = https://github.com/AulasUnisinos/entrega-da-lista-3-joaovictorcs29.git
[submodule "entrega-da-lista-4-joaovictorcs29"]
	path = entrega-da-lista-4-joaovictorcs29
	url = https://github.com/AulasUnisinos/entrega-da-lista-4-joaovictorcs29.git
[submodule "entrega-do-trabalho-do-grau-a-joao-victor-costa"]
	path = entrega-do-trabalho-do-grau-a-joao-victor-costa
	url = https://github.com/AulasUnisinos/entrega-do-trabalho-do-grau-a-joao-victor-costa.git
